[2013-04-17 06:43] Rits786 opened #1 "Not able to swipe after zoom in untill i zom out the pic"
Not able to swipe after zoom in untill i zoom out the pic. Can you help me how to able to swipe the image even i m in the zoom in mode

[2013-04-23 05:41] #1 closed, assigned to nobody

[2013-09-03 01:45] blairvanderhoof opened #2 "IE 10 Support"
IE 10 requires binding to different events for touchstart, touchmove, and touchend.  It also does not contain the touches property on the event object.
http://blogs.windows.com/windows_phone/b/wpdev/archive/2012/11/15/adapting-your-webkit-optimized-site-for-internet-explorer-10.aspx

[2013-12-13 21:13] thewebkid opened #4 "Add ability to decouple pinch from element"
I am working on an intricate canvas-based view of the cosmos. I need to call the API to set Right Ascension, declination, and field of view (in degrees between 60 and  0.00022910934437488727 of a degree). It would be great to be able to use this library to get rich js pinch event data, but not actually zoom as it will need to be converted into API calls. Does anyone have interest in collaborating

[2013-12-16 22:24] #4 closed, assigned to nobody

[2014-01-14 17:54] beeant opened #5 "Add inertia/momentum on drag scrolling?"
Thank you for this library.

The drag scrolling doesn't feel so natural.
As I've seen through the codes, inertial drag scrolling seems to be not yet implemented.
Any plan to add inertial/momentum scrolling?

something like this
http://ariya.github.io/kinetic/2/

[2014-04-30 07:43] rooby opened #8 "Add documentation for required markup & css"
It would be good to have documentation on any html & css requirements.

For example, can it be attached to any html element?
Does the element it is attached to need any specific css, like positioning, height, width, etc?

If not it would be good to say there are no restrictions, just so people know.

[2014-04-30 07:48] rooby opened #9 "pinch-zoom-container getting height 0px"
After I attach pinch zoom to my element (a div with an image and text inside) the pinch zoom container gets this markup:

[code]

and I cannot see my image.

If I manually change the height to something like 700px then the image is visible.

Any ideas of what might be the problem?

[2014-08-08 07:56] ghost opened #11 "license"
First of it all, we like your script.

But we have a problem with your License, it would force us to disclose the backend-code of our shop Application.

"As a web developer, it may not be possible to use a GPL licensed Javascript because disclosing the backend may pose security problems, not to mention that no one usually does this!

The solution, according to the GPL FAQ, is to add an exception:

[2014-08-08 08:46] ghost opened #13 "License set to MIT?"
what speaks against an MITStyle License like jquery et al?
right now you can't use this Script in an CMS without compromising your backoffice code.

[2014-08-11 03:07] neekey opened #14 "demo doesn't work any more"
the old demo: http://rtp-ch.github.io/pinchzoom/demo/pinchzoom.html works well, but the latest demo from master doesn't work.

I found the latest version has removed underscore, maybe that cause the problem ?

[2014-08-11 06:35] #14 closed, assigned to nobody

[2014-08-27 14:28] CreativeManner opened #16 "Reset the zoom?"
is there a function to reset the zoom on an event?

[2014-08-28 09:16] #13 closed, assigned to nobody

[2014-08-28 09:18] #11 closed, assigned to nobody

[2014-09-02 04:33] #16 closed, assigned to nobody

[2014-09-02 04:49] manuelstofer opened #18 "Packaging"
Update packaging. Add support for component.js, browserify, bower, npm.

[2014-09-02 04:51] manuelstofer opened #19 "Remove dependencies"
Remove the $ dependency.

[2014-09-02 04:54] manuelstofer opened #20 "API Documentation"
The is currently not much documentation on the API

[2014-10-01 16:29] elEglon opened #22 "Combine pinchzoom with tilezoom"
I read that pinchzoom can be combined with other libraries (swipe.js example). I tried to combine it with tilezoom (https://github.com/ematsakov/tilezoom). Because of my weak programming skills I was not able to realise the combination. Perhaps one of you is interested in combining the libraries to or is able to give a hint?

Thanks in advance

elEglon

[2014-11-26 09:03] shameerashashi opened #23 "Listen to custom events"
How can i listen to the  custom events in pinchzoom plugin. Please provide me a sample code

[2014-11-26 10:21] #23 closed, assigned to nobody

[2015-06-11 15:39] antoniobrandao commented on #5
+ 1

[2015-06-11 15:43] antoniobrandao opened #24 "Unbind events functionality"
Is there is way to unbind elements after they are initialised? To remove listeners / avoid memory leaks / etc when we remove the elements from the DOM to show new elements.

I'm attempting to use pinchzoom.js in a touch-gallery, and I will often remove collections of initialised images to add new ones. Are the events automatically removed when I remove the elements from the DOM or do we need an "u

[2015-11-13 11:28] krisdigital commented on #2
@angelarted Sorry the Readme is not updated, I did not make a demo page.

[2015-12-29 09:53] PickJBennett commented on #5
Yes from me too!

[2016-01-13 14:44] unstableair commented on #5
I'd also appreciate this enhancement if possible :)

[2016-01-13 15:41] manuelstofer commented on #5
pull request please :)

[2016-01-27 14:21] suchg opened #25 "Rotate and drag on single fingure"
Hi

I want to have Rotate, drag by single finger and pinch zoom by tow fingers.
This plugin dose not support pinch zoom only, is it possible for you to support above mentioned things as well ?.

[2016-01-27 14:23] manuelstofer commented on #25
Probably it is possible. Pull request is welcome.

[2016-01-29 07:07] suchg commented on #25
Can you send any example for rotate, drag and pinch zoom all together.

[2016-01-29 07:45] #25 closed

[2016-01-29 08:30] manuelstofer commented on #25
Pinchzoom does not support rotation yet. If you find a way to combine it with an other rotation library please create a pull request to document it with an example. Otherwise you can also integrate it into this library and create a pull request.

[2016-05-24 09:56] watcherkali commented on #23
$('#docPage').each(function () {
    new RTP.PinchZoom($(this), {});
    $(this).on('pz_dragstart',function(){
                //code here
            });
   $(this).on('pz_zoomend',function(){
                //code here
        });
});

[2016-08-23 07:28] csshore opened #28 "On drag image zoom in"
I have used this code and it works fine.
But I face issue when one image make zoom in then do slide or next to get next image and on that image when we drag it goes in zoom in.
Is there any suggestion?
Thanks :)

[2016-08-25 21:07] brunodeleo opened #29 "How to use zoomOutAnimation()"
Hi, I love your plugin.
I currently need to use **zoomOutAnimation()** like mentioned in #16 but I can't seem to figure out how.
I tried using it on the jQuery element, but i get the _'is not a function'_ error:
`$('.zoom-element').zoomOutAnimation()`
Do I need to access the PinchZoom object? How would I do that after it was created?

Thanks in advance :)

[2016-08-25 21:13] brunodeleo opened #30 "How to tell if zoomed in or not?"
I'm currently trying to add a class to the body when PinchZoom is zoomed in and remove it when it's back in original scale.
I managed to listen to the **zoom start** event, but **zoom end** doesn't seem to trigger when on original scale, I'm not sure when **zoom end** triggers.
Also with the **double tap** event I can't tell if I'm zooming in or out.
So, is there a way to get the current or target

[2016-09-27 00:12] tthanhlong opened #31 "Can bind zoom to click, dbclick,...on PC"
It seems work well on device, but I want to bind zoom function to click, dbclick,... in PC web. I tried to override pinchzoom.js but not successful. Does anyone give me some advice.
Thanks and regards!

[2016-10-04 08:41] julmot opened #32 "License file"
Please include a license file in the project

[2016-10-04 08:42] julmot opened #33 "Demo link is wrong"
The demo link in README.md is wrong. Should be:
http://manuelstofer.github.io/pinchzoom/demo/pinchzoom.html

[2016-10-04 08:43] julmot opened #34 "API change"
The current API is:

[code]

As jQuery is necessary, the API should be jQuery like:

[code]

[2016-10-04 08:46] julmot opened #35 "Extend documentation"
For example the following is missing:
- An example with events
- If the entire `options` are optional or if an empty object is required (`{}`)
- Passing parameters of event callbacks
- Method example (e.g. `instance.enable()`)
- Explicitly named option types (`boolean`, `number`, ...)
- ...

[2016-10-04 08:47] julmot opened #36 "Make it a bower package"
And remove the `dependencies` folder in that matter

[2016-10-04 08:48] julmot opened #37 "Add information about browser compatibility"
into README.md

[2016-10-04 08:56] julmot commented on #34
Oh, and I forgot to mention that the API example is also wrong. It should be:

[code]

instead 😆

[2016-10-04 08:58] julmot opened #38 "Chrome event delayed"
![passive](https://cloud.githubusercontent.com/assets/8310677/19068113/731738a4-8a21-11e6-934f-e788bb2dcd42.png)

[2016-10-04 09:01] julmot opened #39 "Smooth pinching/dragging"
If the target element isn't an image like demonstrated, the events won't be smooth. I've tested this with 10 KB `lorem ipsum` test content.

[2016-12-02 21:59] ahmadtout commented on #29
+1

[2016-12-02 22:04] ahmadtout commented on #29
IMG =  new RTP.PinchZoom($("#img"), {});
IMG.zoomOutAnimation()

and it will work

[2017-06-23 12:10] JedatKinports opened #41 "Can't zoom to the bottom."
I'm using this plugin for zooming images. I have a HTML DIV element and inside there are multiple images, normally 3-4.

My problem: when i zoom-in the first image (at the top) and then try to scroll to the bottom of the last image. I can't scroll to the bottom when zoomed in (the scrolling stops on 1/4 of the last image). If i zoom-out then i can scroll to the bottom again.

This happens only whe

[2017-08-11 13:09] sandstrom commented on #38
This is no longer an issue because Chrome will treat it as passive by default.

[2017-08-17 07:48] #19 closed

[2017-08-17 08:04] sandstrom commented on #8
No requirements. If you have ideas on how to improve docs I'm happy to review a PR.

[2017-08-17 08:04] #8 closed

[2017-08-17 08:06] #34 closed

[2017-08-17 08:07] sandstrom commented on #33
Fixed in #43

[2017-08-17 08:07] #33 closed

[2017-08-17 08:07] sandstrom commented on #32
Thanks! ⛵️  Fixed on master

[2017-08-17 08:07] #32 closed

[2017-08-17 08:09] sandstrom commented on #2
@blairvanderhoof Sorry to let this linger.

Unfortunately IE 10 has a dwindling market share, especially on touch devices. So I'm going to close this.

[2017-08-17 08:09] #2 closed

[2017-08-17 08:10] sandstrom commented on #22
If you are willing to open a PR and explain the use-case, and if accepted for further review you can write the code to make it work, I'm happy to have a look and offer some help.

Otherwise this may be a better fit for StackOverflow.

[2017-08-17 08:10] #22 closed

[2017-08-17 08:11] #38 closed

[2017-08-17 08:12] sandstrom commented on #39
I think the library is mostly used for images. Do you have any thoughts on how this can be improved?

[2017-08-17 08:43] julmot commented on #39
Yes, please document this in the docs. Mention something like "This library only works good for images".

[2017-08-17 08:44] julmot commented on #37
Yes, please specify browsers and browser versions as you can't expect from users that they will look into the code and check every feature on the compat table.

[2017-08-17 08:46] julmot opened #45 "Wrong docs example"
This example can't work, please note the brackets 😆

[code]

[2017-08-17 08:57] sandstrom commented on #37
Would you like to PR?

[2017-08-17 08:57] sandstrom commented on #39
Would you like to PR?

[2017-08-17 08:57] sandstrom commented on #45
Would you like to PR?

[2017-08-17 08:59] julmot commented on #37
Nope, you'd have to test with many browsers and I don't have the time for that.

[2017-08-17 09:00] sandstrom commented on #37
Alright, I appreciate the feedback but I'll close this issue then. I think ES5 is an adequate description of browser requirements.

[2017-08-17 09:00] #37 closed

[2017-08-17 13:57] RookieDouby opened #46 "Android double tap not working very well?"
I tried the demo in andriod device, when I double tap the image, zoom in works well.But when I double tap again, image won't zoom out to original zoomFactor.

[2017-08-17 14:05] sandstrom commented on #46
@RookieDouby Is there a difference between iOS and Android? Between different versions of Android?

[2017-08-17 16:09] sandstrom commented on #28
Can you explain the issue in more detail? Preferably with some code illustrating the issue (js-fiddle).

[2017-08-17 16:10] sandstrom commented on #5
I'm going to close this issue. But will happily review a pull request implementing inertia, I think it would be a good addition.

[2017-08-17 16:10] #5 closed

[2017-08-17 16:13] sandstrom commented on #24
When elements are removed from the DOM their listeners will be cleared too.

This SO-question describes it in detail:
https://stackoverflow.com/questions/12528049/if-a-dom-element-is-removed-are-its-listeners-also-removed-from-memory

As described, there are also issues where this won't happen. Are there any issues with the code that you've spotted?

Otherwise, afaik the listeners will be torn dow

[2017-08-17 16:23] sandstrom commented on #29
I'll close this issue since ahmadtout has provided an answer.

[2017-08-17 16:23] #29 closed

[2017-08-17 16:24] sandstrom commented on #41
@JedatKinports Can you provide a JS-fiddle that illustrate this problem? Cannot guarantee that I can help, but that would be a good start.

[2017-08-17 16:27] sandstrom commented on #31
This library is focused on touch-devices. It's currently not possible to do what you desire.

What we could do is expose `pz.zoomIn(factor)` as a method. If you'd like to submit a PR I'm happy to review it (if you do, start with describing the API, so we can discuss it before you begin with the implementation).

I'm going to close this issue though, but again, happy to review a PR.

[2017-08-17 16:27] #31 closed

[2017-08-17 16:31] sandstrom commented on #36
All dependencies are dropped now, and for bower there is already an open issue. https://github.com/manuelstofer/pinchzoom/issues/18 So I'm closing this one.

[2017-08-17 16:31] #36 closed

[2017-08-17 16:53] sandstrom commented on #9
Fixed in https://github.com/manuelstofer/pinchzoom/commit/3cfdd4291650bb01270f2fbc2fe7217a68255d98

[2017-08-17 16:53] #9 closed

[2017-08-17 16:53] sandstrom commented on #45
Fixed in https://github.com/manuelstofer/pinchzoom/commit/3cfdd4291650bb01270f2fbc2fe7217a68255d98

[2017-08-17 16:53] #45 closed

[2017-08-17 16:54] sandstrom commented on #35
Happy to accept a PR! I'll close this issue for now.

[2017-08-17 16:54] #35 closed

[2017-08-17 16:56] sandstrom commented on #30
Not currently. Listening to zoom end events should work, can you show a jsfiddle where it doesn't?

I agree with double-tap, it's ambiguous. It would be neat if the zoom-events + double-tap event contained a property called `zoom`, which contained the current zoom-level.

I don't have time to fix this myself, but will happily review a PR if you'd like to take a stab at it!

Will close this issue f

[2017-08-17 16:56] #30 closed

[2017-08-18 02:29] RookieDouby commented on #46
@sandstrom iOS works well, doubletap zoom in and again zoom out.But when I use Galaxy S7(6.0.1), when zoomFactor > 1, doubletap won't reset to original zoom. I will try other Android devices.

[2017-08-18 08:37] sandstrom commented on #46
@RookieDouby Awesome, let me know what you find. We need more precision around the version.

When you say "iOS works", which version of iOS are you talking about? And ditto for Android

[2017-08-18 13:47] NePheus commented on #31
`var $zc = $('.zoom-container');
var pz = <any> new RTP.PinchZoom($zc, { minZoom: .9, maxZoom: 2 });
$zc.on('click', function(e) {
    pz.handleDoubleTap({ touches: [{ pageX: (<any> e.originalEvent).pageX, pageY: (<any> e.originalEvent).pageY }] });
});`

[2017-08-30 13:12] ShakeelBeyondvision opened #48 "How to unlock drag axis and also how to set default scaling value on load?"
I am trying to unlock drag axis because of mobile screen and also scale problem how can I set default value and max and min value of scaling?

[2017-08-30 14:21] sandstrom commented on #48
Is this an issue with the code, or a general question? For general questions sites like Stackoverflow are better.

I'm closing this now, but I'm willing to reopen if there is an actual code issue. If so you need to describe it much better.

[2017-08-30 14:21] #48 closed

[2017-09-06 03:44] paladinzyh commented on #46
I met the same problem. IOS 10.3.3 works well, but Android MIUI 8.5 can't zoom out when I double tap again.  and more serious problem is: I can't zoom with two fingers. The picture is not zooming when I move my fingers on the screen, but after I raise my fingers, the picture is zoomed.

[2017-09-06 07:53] sandstrom commented on #46
What code are you running? Can you provide a breaking test-case? Does the test-case also work under some circumstances?

[2017-10-04 19:17] danilowoz opened #50 "NPM package"
Good job @manuelstofer!
Could you please publish as a npm package?

[2017-10-05 21:00] sandstrom commented on #50
How would you recommend doing it? Webpack?

I know there are a few different methods, curious to hear if you have any thoughts on how to best go about it.

[2017-10-09 12:53] danilowoz commented on #50
There are some boilerplate to publish, for example [npm-package-boilerplate](https://github.com/Danilo-Araujo-Silva/npm-package-boilerplate) and [boilerplate-npm-package](https://github.com/gyss/boilerplate-npm-package)

And [here](https://hackernoon.com/how-to-publish-your-package-on-npm-7fc1f5aae600) you can read a good article how use `npm publish`.

If you have another question, fell free to c

[2017-10-10 07:46] sandstrom commented on #50
I'll see what I can do!

[2017-10-21 18:22] sandstrom commented on #24
Closing, since there is no answer I assume this issue is solved. Let me know if that isn't the case and we may reopen it.

[2017-10-21 18:22] #24 closed

[2017-10-21 18:23] sandstrom commented on #28
I'm closing this now, but I'm willing to reopen if you can describe the issue in more detail (preferably with a test-case illustrating the issue).

[2017-10-21 18:23] #28 closed

[2017-11-04 10:32] sandstrom commented on #50
@danilowoz Can you try this one out? https://www.npmjs.com/package/pinch-zoom-js

[2017-11-07 12:38] #50 closed

[2017-11-07 12:39] sandstrom commented on #18
Published as [`pinch-zoom-js`](https://www.npmjs.com/package/pinch-zoom-js). Works with AMD, commonJS and vanilla ES6 modules.

[2017-11-07 12:39] #18 closed

[2017-11-18 09:17] YGLau opened #51 "does this support to zoom jquery-seats-charts?"
i had used [jQuery-Seat-Charts](https://github.com/mateuszmarkowski/jQuery-Seat-Charts) to make a seat chart and want to zoom in/out it, but when first load this page, this charts was zoomed in, how can i fix this problem please?

[2017-11-20 10:14] sandstrom commented on #51
If this is an open question it's better suited for Stackoverflow. I suggest you repost there.

If this is an issue with the source-code of pinch-zoom, please explain further and I'm happy to reopen.

[2017-11-20 10:14] #51 closed

[2017-12-29 01:40] Andydabing commented on #46
I met the same problem，Android can't zoom out when I double tap again.

[2018-01-05 12:33] sandstrom commented on #46
@Andydabing You are right! Would you like to take a look at it? A PR with a fix for this issue would be much appreciated!

[2018-01-16 14:55] micgro42 commented on #46
We are adjusting this library in some aspects and fixed this bug in https://github.com/cosmocode/ms-pinchzoom/commit/579348cbc13d0577bc944741a93101faa2e288de

[2018-01-16 17:23] sandstrom commented on #46
@micgro42 Awesome! We'll happily introduce your fix into the repo. 🏅

I also noted that you've made quite a few other changes. Most (all?) of them look really good, so I'm also happy to introduce them if you are interested?

I may have some minor comments about a few of them though, some notes below:

- Scroll-detect on Android (https://github.com/cosmocode/ms-pinchzoom/commit/e64fdc2c57e6b7509571

[2018-01-18 15:03] micgro42 commented on #46
On second thought, some of these changes are quite intertwined and disentangling them is a non-trivial task.

Are there any aspects you would prefer not to merge into your master branch? If not, then I would simply open a pull request for the entire cosmocode branch.

Note that we made a few more fixes in the last days, but they should not be poblematic.

Since the library now centers images autom

[2018-01-19 10:28] sandstrom commented on #46
Sounds good! You've made some impressive improvements here, I'm sure they would be helpful to others too! 🏆

We can use a single pull-request. But would be great if you could still break the changes into separate commits.

One way may be to (1) take the entire diff between this branch and yours (~15 or so commits), (2) mash them together into a single commit and then (3) break this apart again, in

[2018-02-07 02:07] raferXu opened #53 "How to running when rotate 90deg"

[2018-02-07 08:10] raferXu opened #54 "Can you give me some annotation for getCurrentZoomCenter function？I donnot understand.Thanks"
getCurrentZoomCenter: function () {

      // uses following formula to calculate the zoom center x value
      // offset_left / offset_right = zoomcenter_x / (container_x - zoomcenter_x)
      var length = this.container.offsetWidth * this.zoomFactor,
        offsetLeft  = this.offset.x,
        offsetRight = length - offsetLeft - this.container.offsetWidth,
        widthOffsetRatio = offsetLeft

[2018-02-07 12:55] sandstrom commented on #53
This looks like a general question. For those, [StackOverflow](https://stackoverflow.com) is a better place.

If you have found a real issue with this code a PR with a fix, or at least a failing test-case is a better start. I'm going to close this issue.

[2018-02-07 12:55] #53 closed

[2018-02-07 12:55] sandstrom commented on #54
This looks like a general question. For those, [StackOverflow](https://stackoverflow.com) is a better place.

If you have found a real issue with this code a PR with a fix, or at least a failing test-case is a better start. I'm going to close this issue.

[2018-02-07 12:55] #54 closed

[2018-03-05 14:50] sandstrom commented on #46
@micgro42 🏅 wrote a fix for this issue, so I'm closing it

[2018-03-05 14:50] #46 closed

[2018-03-05 14:51] sandstrom commented on #39
Closing this for now. Happy to re-open if anyone want to work on this!

[2018-03-05 14:51] #39 closed

[2018-03-09 10:13] HuuDuc opened #56 "Double Tap from mobile devices"
Hi, I encounter an issue while I double tape in my touch screen to zoomIn or zoomOut. The precision is not accurate on touch screen. However it does work well once I double click from the "remote device" debugger.

[2018-03-09 13:43] sandstrom commented on #56
Which git revision are you running under? How did you install the library?

[2018-03-31 09:26] Garavani opened #58 "Demo does not work"
Such a nice plugin. But I can’t get it to work.
Loading down the pinch zoom-master and trying the demo various error occur.
First: the filename seems to be wrong:
In the html the line is: <script type="text/javascript" src="../src/pinchzoom.js"></script>
In the folder the name of the file actually is: pinch-zoom.js
Changing this line to: script type="text/javascript" src="../src/pinch-zoom.js"></s

[2018-03-31 21:10] sandstrom commented on #58
@Garavani try running the build script, and point the demo to the built file.

I agree we should fix the demo, any suggestions on how?

Which browser are you running under?

[2018-04-01 11:10] Garavani commented on #58
Hi Manuel,

thanks for getting in contact! Appreciate that!

Yes, I tried with the other code (copied from here: http://manuelstofer.github.io/pinchzoom/src/pinchzoom.js <http://manuelstofer.github.io/pinchzoom/src/pinchzoom.js>), too.
Adding also the jQuery link missing in the header of the demo html as it seems.

Browser (Safari latest) throws following errors then:

ReferenceError: Can't find v

[2018-04-01 11:18] Garavani commented on #58
PS
I also tested it mobile (http://www.seifertalbers.de/pinchzoom-master/demo/pinchzoom.html <http://www.seifertalbers.de/pinchzoom-master/demo/pinchzoom.html>)
In case it might work even with the errors.
But does not.

thanks
Stefan

—

Stefan Seifert  ·  stefanseifert.com <http://stefanseifert.com/>  ·  @stefanseifert33 <https://twitter.com/stefanseifert33>

[2018-04-01 14:00] Garavani commented on #58
Ok, I think I got it to work.
Copying literally all resources from your online demo.

The demo to download has wrong html, js files and it misses the underscore dependency.

Best
Stefan

—

Stefan Seifert  ·  stefanseifert.com <http://stefanseifert.com/>  ·  @stefanseifert33 <https://twitter.com/stefanseifert33>

[2018-04-02 21:53] poebrand commented on #58
@sandstrom: the releases changed after v2.0.0. Both v2.0.1 and v2.1.0 contain pinch-zoom.js instead of pinchzoom.js. It also ends with an export statement that is not ECMA 5 compliant (statement is ECMA 6).

[code]

It appears that we need to install babel in order to build based upon build.sh, is that right? Can you provide some guidance? Or should v2.0.1 and v2.1.0 not be publicly used?

[2018-04-02 22:51] poebrand commented on #58
After some experimentation the steps for building appears to be:

1. Download release/source.
2. Download and install node.js
3. Extract the folder.
4. In my case, edit package.json and update build path to be explicit. Example: "build": "C:\\Users\\Admin\\Downloads\\pinchzoom-2.1.0\\script\\build.sh"
5. Open a command prompt and run: npm install
6. Should generate a dist folder at the root that c

[2018-04-03 12:03] sandstrom commented on #58
Good discussion, some thoughts!

1. We should update the hosted demo (http://manuelstofer.github.io), not sure if I have permissions to do it, but I'll check.

2. Would like to keep ES6 modules for the source code, but need to figure out a way to make it work with browsers. There is `<script type='module' …>` but it requires CORS, so we'd need a way to serve the demo page from a local dev-server.

[2018-04-03 17:18] poebrand commented on #58
The readme/documentation also needs an update. https://github.com/manuelstofer/pinchzoom

[2018-04-04 09:06] sandstrom commented on #58
@poebrand Feel free to PR 😄

[2018-04-09 14:52] endel opened #59 "DOM events are slow"
I'm using a fork of this library, and I would like to let you guys know I've improved the performance quite a bit by replacing the [DOM event triggers](https://github.com/manuelstofer/pinchzoom/blob/8efa64c4775957e405d36064aa8c9e74058b25d1/src/pinch-zoom.js#L69-L73) with [`eventemitter3`](https://www.npmjs.com/package/eventemitter3).

[2018-04-10 08:40] sandstrom commented on #59
@endel Interesting! 🏅

- Do you know which underlying functionality is driving the performance improvement?
- Do you have any performance numbers? (before/after, and on which spec/machine)

I'm reluctant to add dependencies, but would be happy to accept a PR adjusting the current event generation code.

If browser support is good enough, perhaps a switch to `new Event('myEvent')` would yield simil

[2018-04-18 00:48] tvler opened #61 "canDrag is gone, doesn't interop with swipe.js anymore"
Every touchmove event is now cancelled, even if an element isn't being zoomed.

This prevents pinchzoom elements from being used in swipe.js, or any other touchmove-based gallery library.

https://github.com/manuelstofer/pinchzoom/commit/7df8532828534d89b8d9c71061008c9471f7c710#diff-74f10427165b674d4d8a5c4bf321d992L450

[2018-04-18 09:44] zyniq82 commented on #61
@tvler I noticed this regression too!
I've issued a pull request to mitigate the issue :relieved:

[2018-04-18 09:46] sandstrom commented on #61
@tvler Would https://github.com/manuelstofer/pinchzoom/pull/62 solve your issue?

[2018-04-18 11:40] sandstrom commented on #56
Closing this issue because it's stale. Happy to re-open if new information is provided.

[2018-04-18 11:40] #56 closed

[2018-04-18 11:41] sandstrom commented on #41
Closing this issue because it's stale. Happy to re-open if new information is provided.

[2018-04-18 11:41] #41 closed

[2018-04-18 11:43] #61 closed

[2018-04-18 14:25] tvler commented on #61
Awesome, thanks!

[2018-04-19 12:31] sandstrom commented on #61
@tvler A new release with @zyniq82's code is out now https://github.com/manuelstofer/pinchzoom/tree/v2.2.0

[2018-04-19 14:11] tvler commented on #61
Great! Thanks for all your work on this project @sandstrom & @zyniq82, much appreciated at [openlistings](https://www.openlistings.com/) ;)

[2018-04-23 07:30] nimishsinghal opened #63 "EventListeners should be removed on disable."
Hi,
Update is getting bind to image(when the image is loaded) which should be ideally unbinded once the image is removed or the disable event is triggered.

[2018-04-23 08:43] nimishsinghal commented on #63
Thanks @sandstrom for a quick reply, will create a PR for this. In my case update method is called multiple times, if the image is changed within the same div which is not a desired behaviour.

[2018-05-15 11:33] sandstrom commented on #58
No response, closing this PR. Happy to reopen if the issue remains.

[2018-05-15 11:33] #58 closed

[2018-05-18 23:17] mjquito opened #64 "Height for the container in the initialization of the script is not correct which hides the element"
So, I was testing this library for the first time using the example given in the doc, but it didn't work.  I was able to track the problem. I changed the following to the way it was in a previous release.
[code]
My HTML.
[code]

[code]
It didn't show anything until I made the change. I found out that when this library initializes, it sets the 'image-container' absolute and generates 'this.containe

[2018-05-19 17:45] #59 closed

[2018-05-21 08:01] sandstrom commented on #64
@mjquito Could it be because your image hasn't loaded when the code runs?

@micgro42 Could you give this a quick glance? The issue mentioned above seems to be related to your fix in https://github.com/manuelstofer/pinchzoom/commit/b5875716#diff-74f1042, I'm guessing reverting isn't a good idea since that will re-introduce the issue you were trying to fix. Awesome if you could shed some light on wh

[2018-05-22 05:46] micgro42 commented on #64
The demo page `zooms.html` in the repo works well for me. Could you try to reproduce your problem there?

[2018-05-22 05:55] micgro42 commented on #64
This was a long time ago, but from the commit message of the commit you mentioned:

we have to scale either to the width or height, whatever results in the
smaller zoom-factor. However, in order to get the accurate zoom factor for
the y-dimension we need to set the aspect ratio depending on the parent
dimensions.

The container already needs well defined dimensions, so we can properly zoom the ima

[2018-05-22 08:38] sandstrom commented on #64
Thanks for chiming in @micgro42! Much appreciated! 😄

@mjquito Could you have a look at the zoom.html demo page, and produce a boiled-down example (similar to the demo page) which illustrate the issue.

[2018-05-22 15:05] mjquito commented on #64
I will look into it! Also, the demo (idk if this is what you are referring with zooms.html) "http://manuelstofer.github.io/pinchzoom/demo/pinchzoom.html" uses an old release which it works.

[2018-05-23 07:56] DaPo commented on #64
@sandstrom nope! Same bug as I have from my previous message with the HEIGHT defined to 0 thing, as you can see on this screenshot:

![ss_ 7 732](https://user-images.githubusercontent.com/1059657/40410813-f4aa0f22-5e6e-11e8-810f-c2f131f3a573.png)

I tested it on those browsers (without any plugin):
- Chrome Version 66.0.3359.181 (Official Build) (64-bit)
- Firefox 60.0.1 (64 bits)
- Safari Technol

[2018-05-23 08:51] micgro42 commented on #64
I was referring to `demo/zooms.html`. Please test with that.

The intention is already stated in the quoted commit message above. The idea of this library is make a DOM-node zoomable. Initially, the node is zoomed such that it fits the parent. For that to work, the parent needs well defined dimensions. You are trying to zoom a node so that it fits into a parent with height 0.

[2018-05-23 09:13] DaPo commented on #64
@micgro42 hello!

zooms.html works fine here but pinchzoom.html is not.

[2018-06-06 05:00] creativesplash commented on #64
@micgro42 Thanks for this fantastic plugin! I had a couple of questions. I've a timeout function which I'd like to reuse by calling a function to zoomout if the user is idle for 'n' seconds. Which function() should I call? Also my image appear blurred when I zoom in or pan. Any idea what could be going wrong?

[2018-06-13 16:38] creativesplash opened #65 "Images and text appear blurred"
Hello there!

Thanks once again for this fantastic plugin! My images and text appear blurred when I zoom in. Any ideas what could be happening?

Thanks,
Vasanth

[2018-06-14 09:42] sandstrom commented on #65
No idea 😄

This is open source code, unfortunately we cannot offer general troubleshooting. But if you think you've found a bug, and a way to fix it, we're happy to accept a PR with a fix.

A simple reproduction or the issue is usually a good start.

[2018-08-02 02:20] xmqywx opened #66 "Please info the install method on README"
Like
`yarn add pinch-zoom-js`
or `npm install pinch-zoom-js`

[2018-08-02 11:51] sandstrom commented on #66
Happy to accept at pr! @xmqywx

[2018-08-03 14:55] zyniq82 commented on #64
Somewhat late to the party, but let me chime in here with @micgro42 that with the recent changes to this library you now have to _**explicitly set the size of the parent**_ (i.e. the parent element of the original image, _**not**_ the `div` with class `pinch-zoom-container`) in order for everything to work. If you're not held back by browser compatibility issues, a nice way to set the parent size

[2018-08-06 12:47] sandstrom commented on #66
I'll close this, but as mentioned above, happy to review a PR!

[2018-08-06 12:47] #66 closed

[2018-08-10 08:59] sandstrom commented on #64
@DaPo pinchzoom.html should work now, let me know if it doesn't

[2018-08-28 08:03] levblanc opened #68 "In `src/pinch-zoom.js`, please change `const` keyword to `var` in function `getCurrentZoomCenter`"
Would you please change the `const` keyword to `var` in `src/pinch-zoom.js`?

![image](https://user-images.githubusercontent.com/4057887/44707437-16158600-aad7-11e8-983b-6807376e499c.png)

It triggers error in low version browsers:

[code]

Function `getCurrentZoomCenter` is the only place that has the `const` keyword. In other functions of `src/pinch-zoom.js`, and the whole `dist/pinch-zoom.umd.j

[2018-08-28 09:30] sandstrom commented on #68
@levblanc Thanks for chiming in! 💯

Happy to change this, would you like to submit a PR?

[2018-08-29 06:35] levblanc commented on #68
@sandstrom
Opened PR #69 , please check. :)

[2018-08-29 07:46] zyniq82 commented on #68
@levblanc & @sandstrom, isn't the real problem that the `module` field in `package.json` is referencing `src/pinch-zoom.js`, instead of `dist/pinch-zoom.umd.js`? (since that line in `package.json` was written before the `dist/` folder was part of the repository)

The build script is using Babel to simplify the code in `src/`, such that "low version browsers" can use whatever is created in `dist/`,

[2018-08-29 08:35] sandstrom commented on #68
@levblanc Fixed!

[2018-08-29 08:35] #68 closed

[2018-09-28 19:48] English3000 opened #70 "Error `undefined is not an object (evaluating 't.x')`, probably related to event.touches"
The error message:
`TypeError · undefined is not an object (evaluating 't.x') -- in 'getDistance'`

![screen shot 2018-09-28 at 12 00 52 pm](https://user-images.githubusercontent.com/29601050/46229411-61ab9180-c31a-11e8-8a2a-fddc2a34c4e5.png)

`getDistance` has an `undefined` argument.

[code]

It is invoked by `calculateDistance`--which has as its first argument `startTouches`.

`startTouches` is

[2018-10-01 10:46] sandstrom commented on #70
@English3000 Thanks for a good bug report and for starting the investigation!

Is that a Bugsnag report? Looks like it.

If so, how many instances of the error have you got? Can you see any pattern in affected browser/os?

[2018-10-04 04:41] cslee commented on #68
@sandstrom Can you please release an updated version of the npm package on this? Thanks.

[2018-10-04 12:33] sandstrom commented on #68
@cslee Fixed

[2018-10-06 21:21] neilyoung opened #71 "Cool stuff..."
...thanks for sharing

[2018-10-06 21:59] neilyoung commented on #71
Maybe the only little issue: Somewhat applies an approx. 20px shift to right on first draw. Can be seen with a non-white background.

[2018-10-06 22:08] neilyoung commented on #71
Yepp. If I comment this:

[code]

everything is properly aligned.

[2018-10-08 08:10] sandstrom commented on #71
@neilyoung Thanks for the praise! 🙏

Regarding the issue (20px shift on first draw), if you'd like to submit a patch to fix the bug I'm happy to review it.

Since this is a project maintained by volunteers we don't have the manpower to investigate bugs ourselves (we need help from others in the community, such as you). So I'm going to close this issue.

But again, happy to review a PR that explain

[2018-10-08 08:10] #71 closed

[2018-10-12 09:38] AllenBootung opened #72 "Create multi TouchEvents programmatically to zoom"
My device using TUIO, not mobile touch, so I have to create touch events programmatically to trigger pinch-zoom.umd.js
https://jsbin.com/baginicari/edit?js,console,output

I have tried
`myElement = document.querySelector('#g2');`
`sendTouchEvent(247, 379, myElement, 'touchstart');`
`sendTouchEvent(317, 591, myElement, 'touchstart');`

`sendTouchEvent(257, 389, myElement, 'touchmove');`
`sendTouchE

[2018-10-12 13:47] sandstrom commented on #72
Hi @AllenBootung!

This is a small, community supported plugin, so we cannot offer support for it.

If you have found any bug and a fix for them, I'm happy to review a PR.

Have a great weekend! ⛵️

[2018-10-12 13:47] #72 closed

[2018-10-12 13:48] sandstrom commented on #63
I'm going to close this issue. Happy to reopen if anyone wants to submit a PR.

[2018-10-12 13:48] #63 closed

[2018-10-12 13:50] sandstrom commented on #65
I'm going to close this issue. Happy to review a PR if anyone has found a reproducible bug.

[2018-10-12 13:50] #65 closed

[2018-10-22 11:22] huangche007 opened #73 "Cannot slide up and down"
When i use this plug that i can not slide up and down this page,
the version is v2.3.0
How can i solve this problem，some code as follow:
`
import PinchZoom from './utils/PinchZoom '

<div id=outer-container>
  <div>
   .......more dom
  </div>
</div>

let pz = new PinchZoom(document.getElementById('outer-container'),{})

<style>
.outer-container{
 width:100%;
height:100%;
position:relative;
}
</st

[2018-10-22 11:23] huangche007 opened #74 "Can not slide up and down"
When i use this plug that i can not slide up and down this page,
the version is v2.3.0
How can i solve this problem，some code as follow:
`
import PinchZoom from './utils/PinchZoom '

<div id=outer-container>
  <div>
   .......more dom
  </div>
</div>

let pz = new PinchZoom(document.getElementById('outer-container'),{})

<style>
.outer-container{
 width:100%;
height:100%;
position:relative;
}
</st

[2018-10-22 11:27] huangche007 opened #75 "Can not slide up and down"
When i use this plug that i can not slide up and down this page,
the version is v2.3.0
How can i solve this problem，some code as follow:

`

import PinchZoom from './utils/PinchZoom '
<div id=outer-container>
  <div>
   .......more dom
  </div>
</div>

let pz = new PinchZoom(document.getElementById('outer-container'),{})

<style>
.outer-container{
 width:100%;
height:100%;
position:relative;
}
</s

[2018-10-22 14:52] meirg opened #76 "[Feature Request] Mouse Event Handling Option"
Can you add an option to be able to zoom and pan with the mouse also? Just basic things like double-click to zoom in/out and drag to pan.

Thanks for the great work!

[2018-10-22 18:31] #76 closed

[2018-10-23 01:14] #75 closed

[2018-10-23 01:14] #74 closed

[2018-11-27 11:23] leomoty opened #78 "Doubletap event happens but UX is not reflected"
Hello, I am trying to integrate this library with Swipejs.

I am not sure whether I got into a bug or I am not supposed to populate the contents of the pinch-zoom after `pinchzoom` is loaded.

This is my jsfiddle demo: https://fiddle.jshell.net/leomoty/swt4qvbe/30/show/,  which I tried with both chrome device emulator and a proper device. It might require some tries to reproduce.

It is not exactl

[2018-12-06 07:15] achigo16 opened #79 "How to zoom using method?"
like method to enable and disable gesture,
[code]
it is there way to zoom using method?

[2018-12-06 09:47] sandstrom commented on #79
@achigo16 It's currently built to handle support via user interaction. There is no programmatic access to zoom.

I'm going to close this issue now.

Maybe we can accept a PR adding this functionality. But if you are interested in patching this into the library it would be great if we could discuss some details first (before you'd start to code it).

[2018-12-06 09:47] #79 closed

[2018-12-14 05:21] mask2012 opened #80 "Can you add support on pc mouse drag and zoom?"
as I'm working on pc, I can not get pz_zoomstart  feedback information easily~
can you add support  for mouse drag and zoom?

[2018-12-14 10:46] sandstrom commented on #80
No immediate plans. But happy to review a PR.

[2019-01-04 06:15] ashokap88 opened #81 "disable zoom out when image in default position"
some one please help me to disable zoom out when image is on default position

[2019-01-15 13:20] sandstrom commented on #80
Closing for now. If you want to help implement this I'm happy to discuss details further

[2019-01-15 13:20] #80 closed

[2019-03-08 16:10] atlasan opened #85 "Error b is undefined on getDistance, line 799"
Sometimes an error appear when touches ends in unexpected way.
Sloved patching line 805
from
endDistance = getDistance(endTouches[0], endTouches[1]);
to
endDistance = (endTouches[1]!==undefined)?getDistance(endTouches[0], endTouches[1]):0;

[2019-03-08 16:43] atlasan opened #86 "3 fingers or more breaks things zooming"
This is not a real issue, but would make things easier for someone.
In my setup I had many images in a single zoomable div. Using 3 or more fingers results in activating window zoom breaking things up. I've added an option and than canceled the touchstart, touchmove and touchend event:
if (target.options.cancelManyFingersEvent && fingers>=3) cancelEvent(event);

[2019-03-08 16:53] #85 closed

[2019-03-08 16:53] #86 closed

[2019-03-08 16:57] atlasan commented on #81
Probably @ashokap was looking for minZoom: 1 option

[2019-03-08 17:20] atlasan opened #87 "draggableUnzoomed behaviour"
This is not an issue, but maybe somebody likes it.

Probably just due to my necessity but..

I've added an option unzoomedFactor: 0.01

I've modified isCloseTo function like this:

isCloseTo = function isCloseTo(value, expected, factor) {
  factor = factor || 0.01;
  return value > expected - factor && value < expected + factor;
};

Than modified its calls like this isCloseTo(this.zoomFactor, 1, t

[2019-03-08 17:20] #87 closed

[2019-04-02 16:31] zyniq82 commented on #78
@leomoty, your fiddle isn't working for me. First of all, the URL doesn't work, so I had to change it to https://jsfiddle.net/leomoty/swt4qvbe/30/ (not sure if it's the same fiddle). Secondly, no images seem to render.

I am writing to let you know I am also using Swipe together with PinchZoom, which works. PinchZoom used to work out-of-the-box with Swipe, but after some changes in PinchZoom it di

[2019-04-02 17:00] leomoty commented on #78
Hello @zyniq82, first of all thanks for the late response, I even forgot I had opened this.

Yes, my demo did rot quite significantly since then. I was able to solve my issue after all. We are dynamically appending content and it had some issues on startup, I just reworked so the pinchzoom layer is only created when needed. Also ended using `draggableUnzoomed: false` as you suggested.

[2019-04-02 17:00] #78 closed

[2019-04-11 10:07] retyui opened #88 "Add unsubscribe method"
How can I cancel event subscriptions?

[2019-04-11 10:25] retyui commented on #88
via https://github.com/manuelstofer/pinchzoom/pull/89

[2019-04-11 12:00] retyui opened #90 "Add react support"
I want to use this module with React.js but code has many mutation operations.

We need to do an abstraction which can pass a function:
`onUpdate: ({scaleFactor, translateX, translateY}) => {}`

https://github.com/manuelstofer/pinchzoom/blob/7dce107a60278ce18d9a97598532cadb14a77fff/src/pinch-zoom.js#L639-L642

https://github.com/manuelstofer/pinchzoom/blob/7dce107a60278ce18d9a97598532cadb14a77fff/

[2019-04-11 13:15] retyui opened #91 "onZoomStart called without event"
Call `setInteraction('zoom');` without event arg
https://github.com/manuelstofer/pinchzoom/blob/7dce107a60278ce18d9a97598532cadb14a77fff/src/pinch-zoom.js#L799

But it is a required argument
https://github.com/manuelstofer/pinchzoom/blob/7dce107a60278ce18d9a97598532cadb14a77fff/src/pinch-zoom.js#L771

[2019-04-12 13:30] #91 closed

[2019-04-12 13:30] #90 closed

[2019-04-12 13:30] #88 closed

[2019-04-17 07:30] RobinWest opened #92 "Please publish latest version to NPM"
It seems like the latest version on NPM (despite being 2.3.0) doesn't contain the changes for the `onZoomStart` etc callbacks.

Thank you!

[2019-04-19 11:12] retyui commented on #90
https://github.com/retyui/react-quick-pinch-zoom

[2019-04-19 11:15] retyui commented on #76
I created a module for the react where I added support Mouse and Wheel events

[react-quick-pinch-zoom](https://github.com/retyui/react-quick-pinch-zoom)

[2019-04-19 11:15] retyui commented on #80
I created a module for the react where I added support Mouse and Wheel events

[react-quick-pinch-zoom](https://github.com/retyui/react-quick-pinch-zoom)

[2019-04-19 21:48] ezos86 commented on #64
Still an issue, never got it working trying both ways. Anyone?

[2019-04-30 09:02] sandstrom commented on #92
@RobinWest I've published 2.3.2 to NPM

[2019-04-30 09:02] #92 closed

[2019-04-30 09:02] sandstrom commented on #70
Should been fixed in #77

[2019-04-30 09:02] #70 closed

[2019-04-30 09:03] sandstrom commented on #20
Closing this for now, PR's are welcome in case something is unclear

[2019-04-30 09:03] #20 closed

[2019-04-30 09:04] sandstrom commented on #64
@ezos86 If you can find the issue and put together a PR fixing it I'm happy to review 😄

[2019-05-02 00:29] DmitryS1990 opened #93 "Stop from scaling on initialization"
Hello.
Is there an option to prvent scaling on initialization?
Or if not, where to look to see scale on init code.
Thank you.

[2019-05-07 23:28] gonzalle opened #94 "Unable to run the callbacks in v 2.3.2"
I even don't see the documented callbacks in the code (eg. `onZoomStart`).
Am I doing something wrong ?
Maybe you should update the demo files with the new version and a few callbacks.

Thxs

[2019-05-08 09:12] gonzalle commented on #94
The callbacks are not in  : dist/pinch-zoom.umd.js , but are in the minified version. as in file in src.
If I use one of those file I got an error : `Uncaught SyntaxError: Unexpected token export`

[2019-05-08 09:29] sandstrom commented on #94
@gonzalle Would you like to PR a fix?

[2019-05-09 00:13] gonzalle commented on #94
I have no fix to PR.
I'm not familiar with modules, this is the reason I didn't use pinch-zoom the right way.
I can only suggest to provide a working demo that uses the last release. Obviously the src and the dist don't work the same way.

[2019-05-10 08:22] #94 closed

[2019-05-15 10:39] azhi268 opened #96 "A special situation"
Hello,dear writer
I find there is a special situation that I can't solve,so I come for some help.
![image](https://user-images.githubusercontent.com/31687938/57769416-681f3a00-7740-11e9-87f1-45f7d864d18c.png)

I give the swiper_box Classname，but when i switch the swiper ,it's still the same Big size, do we have a way to resize that?

[2019-05-15 12:59] sandstrom commented on #96
Is this an issue with the code itself, or a general question? For general questions [Stackoverflow](https://stackoverflow.com/) is better than Github.

I'm closing this now, but I'm willing to reopen if there is an actual code issue. If so, steps to reproduce (and ideally a failing test-case) is a good start.

[2019-05-15 12:59] #96 closed

[2019-05-28 19:40] williammustaffa commented on #79
A way to do that is to extend the PinchZoom class:
[code]

[2019-05-28 19:52] williammustaffa commented on #31
A way to do that is to extend the PinchZoom class:
[code]
and use

[code]

[2019-05-30 22:29] vinerz commented on #64
Hey guys!

I was having the very same issue, but the fun thing is that the bug only happened on iOS Safari.
macOS Safari and all Chromes were ok.

As @zyniq82 said, making the parent `flex-grow: 1` instantly fixed it.

[2019-06-21 01:10] jinghaonode commented on #93
[https://github.com/manuelstofer/pinchzoom/blob/master/src/pinch-zoom.js#L89](url)
var PinchZoom = function (el, options) {
            this.el = el;
            this.zoomFactor = initScaleRate; // your initScaleRate value

[2019-06-26 07:18] bjornmuh opened #97 "Can someon enable scrollwheel zoom on this to finally make one thing that works on Mobile and Desktop?"

[2019-06-26 07:51] sandstrom commented on #97
Thanks for thinking about how this project can be improved! Since this code is open-source, without anyone getting paid to work on it, it's difficult to satisfy all the wishes that people may have. I hope you understand! 🌻

So if you want something, a good first step is to explain in detail what you think should be changed. If others agree that it's a good idea, the next step would be for you to o

[2019-06-26 07:51] #97 closed

[2019-06-27 00:29] michael-ts commented on #79
@sandstrom Not the original submitter, but before I code *what* exactly?

I need to be able to zoom/pan on the object from a desktop browser as well.  I assume it's up to me to write whatever code I want to handle this, whether it's a bottom or a mouse event.

When this happens, I need some way to manipulate the object in javascript the same as your code is doing.  How do I do this?

[2019-06-27 02:15] michael-ts commented on #79
@sandstrom

Ok, so I have watched activity when I pinch-zoom.  I see `handleZoom` get called when I am pinching, and this in turn calls `scale`.  I made a note of the exact parameters being passed to scale and then call it the same identical way when a button is clicked in my app - but **nothing happens**.

What am I doing wrong?

[2019-06-27 03:02] michael-ts commented on #79
So apparently after calling `scale` I have to then call `update`.  But I'm not sure what to pass as the second (center) parameter to `scale`.  I thought to call `getCurrentZoomCenter` to find out, but it returns `null` for both x and y until the UI has actually been touched, apparently, which isn't helpful if there is no touch surface.

[2019-06-27 05:50] michael-ts commented on #79
Trying to figure out what to pass as the center parameter is ridiculous!

[2019-06-27 08:50] sandstrom commented on #79
@michael-ts I can hear that you're frustrated. I actually didn't build this library, so I don't know it's inner workings that well (though I have poked around the code a bit).

Thanks for thinking about how this project can be improved! Since this code is open-source, without anyone getting paid to work on it, it's difficult to satisfy all the wishes that people may have. I hope you understand! 🌻

[2019-06-27 12:02] williammustaffa commented on #79
Hello @michael-ts,

I've already had this issue and I've extended the plugin to have more methods not touch based.
[PinchZoomExtended.js - Gist](https://gist.github.com/williammustaffa/c68137762359bac7e9196a9b02be9471)
Above is the solution I could think of.
Extending it you could use the new methods `pz.zoomTo(zoomFactor)`, `pz.zoomIn()`, `pz.zoomOut()` and `pz.getContainerCenter()` which will gi

[2019-06-27 16:45] michael-ts commented on #79
@williammustaffa Awesome, thanks for the link!  It's not quite working for me though, in my desktop browser it shifts the element off to the right and slightly down, whereas on mobile it shifts it down and slightly to the right.  I'm going to keep playing with it until I get it right and then I'll share what worked for me.

@sandstrom Thank you for the kind words.   The main frustration I was havi

[2019-07-10 03:30] newiep01 opened #98 "Getting current zoom level"
Hi, is it possible to get the current zoom level? I would like to know when it is back to it's original zoom level and do something.

[2019-08-13 11:32] 13Aks13 opened #100 "After zoom out: Set the image in the center of the parent container"
How can I set the image in the center of the parent container after zoom out will be done?

[2019-08-16 08:02] Melir91 opened #101 "Reposition the focus"
Hello, I update the image src in onZoomStart callback with bigger image resolution which cause me an unwanted repositioning, does anybody have any ideas how to handle this?

[2019-08-21 09:01] sandstrom commented on #101
Is this an issue with the code itself, or a general question? For general questions [Stackoverflow](https://stackoverflow.com/) is better than Github.

I'm closing this now, but I'm willing to reopen if there is an actual code issue. If so, steps to reproduce (and ideally a failing test-case) is a good start.

Since this is an open-source project there is no one paid to work on it, so if you want

[2019-08-21 09:01] #101 closed

[2019-08-21 09:01] sandstrom commented on #100
Is this an issue with the code itself, or a general question? For general questions [Stackoverflow](https://stackoverflow.com/) is better than Github.

I'm closing this now, but I'm willing to reopen if there is an actual code issue. If so, steps to reproduce (and ideally a failing test-case) is a good start.

[2019-08-21 09:01] #100 closed

[2019-08-21 09:02] sandstrom commented on #98
Thanks for thinking about how this project can be improved! Since this code is open-source, without anyone getting paid to work on it, it's difficult to satisfy all the wishes that people may have. I hope you understand! 🌻

So if you want something, a good first step is to explain in detail what you think should be changed. If others agree that it's a good idea, the next step would be for you to o

[2019-08-21 09:02] #98 closed

[2019-10-03 10:55] catman85 opened #102 "vue.js usage?"
Any idea how I could use this with vue.js?

[2019-10-03 12:10] sandstrom commented on #102
Is this an issue with the code itself, or a general question? For general questions [Stackoverflow](https://stackoverflow.com/) is better than Github.

I'm closing this now, but I'm willing to reopen if there is an actual code issue. If so, steps to reproduce (and ideally a failing test-case) is a good start.

[2019-10-03 12:10] #102 closed

[2019-10-28 13:41] avdeev opened #103 "Add onInit callback"
I want to make a smooth appearance after initialization and this callback would be very helpful

[2019-11-08 17:06] northkode commented on #24
@sandstrom  you are making a big assumption that the developer has cleaned up all references to the element in question out side of your code.

Therefore, if I cant explicitly call a destroy method on your functionality it will contribute to a memory leak long term. It is best to allow the developer to call a clean up method and not rely on the browsers garbage collection to "hopefully" do it.

[2019-11-11 13:21] sandstrom commented on #24
I answered the question:

My answer may be incorrect, but I don't think so.

Let me know if you disagree and please include links/references explaining why/how my assumption is wrong.

[2019-11-11 14:18] northkode commented on #24
I'm not sure if you read my message.. but I did explain why I think you might be wrong.

Event listeners only clean themselves up if ALL memory pointers in the application don't have a reference to the item that is bound to this component.. and so you are assuming that the programmer cleaned up all other reference pointers instead of just providing a proper destroy handler to remove the pointers y

[2019-11-11 14:35] sandstrom commented on #24
@northkode Alright, makes sense!

Happy to consider a PR if you want to work on this.

Actually it's not my library. The original maintainer/author doesn't have time to work on it so I'm volunteering  some of my free time to keep the library alive…

[2019-11-18 08:40] andy19910102 commented on #93
It works for me. But you might need to change a little bit of code from the `pinch-zoom.js` by yourself.

in pinch-zoom.js:87
[code]

in your JavaScript file:
[code]

[2019-11-19 08:26] MeMyselfI opened #105 "Add .destroy() method"
Please add a destroy method for unbinding all event listeners and created elements to reset everything.

[2019-12-19 10:05] mansoff opened #106 "onZoomStart no event"
onZoomStart callback  has type of PinchZoomEventHandler wich has arguments =>
(target: PinchZoom, event: TouchEvent)

so in Android Chrome when you pinch, onZoomStart callback has empty event.

[2019-12-19 10:09] mansoff commented on #105
Actually you don't need destroy, or you can code without it.
You can destroy pinchzoom div in DOM and browser garbage collector must destroy object and free RAM

[2020-02-05 09:02] #103 closed

[2020-02-05 09:03] avdeev commented on #103
Solution: https://github.com/manuelstofer/pinchzoom/pull/104#issuecomment-565465957

[2020-02-12 10:43] zhuaimaodoudou opened #107 "A页面跳转到使用princhzoom的页面，点击返回按钮，地址返回页面没有响应出现白屏"
A页面路由跳转到使用princhzoom的页面，点击返回按钮，想返回到上一页，结果URL地址返回但是页面没有响应出现白屏

[2020-02-12 12:12] sandstrom commented on #107
Sorry, but I don't understand any of this. My native language isn't english either, but that's what most people use to communicate globally so that's what we'll be using here. You'll have to rephrase this in english if you want to communicate around this open-source project.

***

Is this an issue with the code itself, or a general question? For general questions [Stackoverflow](https://stackoverf

[2020-02-12 12:12] #107 closed

[2020-02-18 10:17] benjaminmcdonald opened #108 "Mouse support with mouse scroll"
Would it be realistic to modify this library to add scroll and zoom with mouse controls?

[2020-03-15 17:52] squareclouds commented on #106
same here, both callbacks are not working/not triggering :/

[2020-04-29 09:40] uudiv opened #110 "需求：配置项：缩放中能否禁止移动dom元素；"
双指在缩放过程中，元素会上下左右方向进行移动，能否在缩放过程中禁止移动。

[2020-05-28 20:18] rahsharm77 opened #111 "PinchZoom.js not working on iOS devices after 13.4 update by Apple"
Hello,

So I have run into a problem with this plugin which started happening after the 13.4 update by Apple for iOS devices. The problem is that the double tap feature has suddenly stopped working completely on iOS devices now.

For a concrete test, you can refer to the plugin demo page: http://manuelstofer.github.io/pinchzoom/demo/pinchzoom.html

On iOS devices, you won't be able to double tap t

[2020-06-02 23:10] grahamma opened #112 "Desktop compatibility?"
Hi, first off, this is a great library! Thanks for all the hard work. I attempted something similar from scratch, realized how difficult it was, found this and was very happy that I did! :)

I searched for any issues mentioning "desktop", but didn't find much so I thought I'd post a new issue, though this might be more of a feature request. Just wondering if it was ever discussed to allow limited

[2020-06-05 16:58] grahamma commented on #112
Found another library that fit my needs better. But again, great work on this.

[2020-06-05 16:58] #112 closed

[2020-07-22 22:48] GaryG54 commented on #111
The demo is version 2.2.0, while the current release is 2.3.4.   Also note, it's been changed to an ES6 module.  You'll have to port it for JS for use like the demo.

[2020-07-23 16:26] sandstrom commented on #111
@rahsharm77 Great if you (as Gary says) can try with the most recent version.

Also, happy to update the demo if anyone wants to submit a PR.

[2020-07-23 22:29] GaryG54 opened #113 "Bad screen bounce with large images"
When displaying an image that is 10mb jpeg in a simple image control with pinchzoom applied, the bounce is very bad.  If you are zoomed enough and down in a lower quadrant, you will see the upper quadrant flash in a lot as you zoom/drag/pinch.  I got these results with v2.2.0.   I then applied the wrapper from the demo v2.2.0 to the v2.3.4 source and now pinchzoom makes the image .4% x .4% at star

[2020-07-24 10:01] sandstrom commented on #113
Thanks for thinking about how this project can be improved! Since this code is open-source, without anyone getting paid to work on it, it's difficult to satisfy all the wishes that people may have. I hope you understand! 🌻

So if you want something, a good first step is to explain in detail what you think should be changed. If others agree that it's a good idea, the next step would be for you to o

[2020-07-24 10:02] sandstrom commented on #110
Thanks for thinking about how this project can be improved! Since this code is open-source, without anyone getting paid to work on it, it's difficult to satisfy all the wishes that people may have. I hope you understand! 🌻

So if you want something, a good first step is to explain in detail what you think should be changed. If others agree that it's a good idea, the next step would be for you to o

[2020-07-24 10:02] #110 closed

[2020-07-24 10:03] sandstrom commented on #108
I'm not sure that would be a good fit for this library.

What we could support, mouse-wise, would be double-clicking to trigger zoom in, just like double-tap works today.

[2020-07-24 10:04] sandstrom commented on #105
Thanks for thinking about how this project can be improved! Since this code is open-source, without anyone getting paid to work on it, it's difficult to satisfy all the wishes that people may have. I hope you understand! 🌻

So if you want something, a good first step is to explain in detail what you think should be changed. If others agree that it's a good idea, the next step would be for you to o

[2020-07-24 10:06] sandstrom opened #114 "Rewrite for Pointer Events"
At some point it would make sense to rewrite this library to be based on the Pointer Events spec, now that it's supported in iOS/Safari.

https://caniuse.com/#feat=pointer

If anyone is willing to work on that, please let me know. 🌻

[2020-07-24 10:27] rahsharm77 commented on #111
@GaryG54 @sandstrom Thank you for the clarification on the demo but unfortunately I am using the Version: 2.3.4 of pinchzoom in my site and this problem is also happening there. You can take a look at this question that I posted on S.O:

https://stackoverflow.com/questions/62072906/pinchzoom-js-not-working-on-ios-devices-after-13-4-update-by-apple

Thanks,
R.S

[2020-07-24 10:50] sandstrom commented on #111
Since this code is open-source, without anyone getting paid to work on it, it's difficult to satisfy all the wishes that people may have. I hope you understand! 🌻

Would you like to work on a PR to fix this issue?

[2020-07-24 11:03] rahsharm77 commented on #111
@sandstrom I totally understand that point and I would be more than glad to help on this and hopefully fix the issue. I will start investigating deeper on this.

[2020-07-24 12:25] sandstrom commented on #111
@rahsharm77 much appreciated!

A much larger (but also possible) approach would be to rewrite the lib to use pointer events:
https://github.com/manuelstofer/pinchzoom/issues/114

(but happy to accept a small patch fixing this issue too)

[2020-07-25 18:16] GaryG54 commented on #113
Thanks for the quick reply.  I have some more pressing work that needs completing.  In a few weeks I will get back to this and create examples of 2.2.0 vs 2.3.4 and what issues I see.

[2020-10-21 10:11] ma7moudat opened #115 "Buggy Behavior in Android WebView"
We're using the same frontend code for the website and the Android/iOS apps. Zoom works fine in all contexts (desktop browsers, mobile browsers, iOS app) except in the Android app (which basically just shows the website inside a WebView).

The Zoom in this case isn't completely unresponsive, but it takes really hard taps to kickstart it and it stops midway while the pinch gesture is taking place f

[2020-10-27 14:44] Duefectu opened #116 ""Unexpected token 'export'" and "PinchZoom is not defined" executing in local"
Hi,

The demo located at https://manuelstofer.github.io/pinchzoom/demo/pinchzoom.html works for me without problem, but when I wan't to reproduce in local environment with this code:

[code]

This code produces an error while loading:
pinch-zoom.min.js:1 Uncaught SyntaxError: Unexpected token 'export'

And another error when executing "new PinchZoom.default(el, {});" line:
zoom:29 Uncaught Referen

[2020-10-27 15:00] Duefectu commented on #116
It's my fault. Getting the .js from https://unpkg.com/pinch-zoom-js@@2.3.4/dist/pinch-zoom.min.js works!

[2020-10-27 15:00] #116 closed

[2020-10-27 17:02] sandstrom commented on #108
Thanks for thinking about how this project can be improved! Since this code is open-source, without anyone getting paid to work on it, it's difficult to satisfy all the wishes that people may have. I hope you understand! 🌻

I'm going to close this issue. But if you want to help out improving this project I'm happy to discuss and give feedback on a proposed change.

[2020-10-27 17:02] #108 closed

[2020-10-27 17:04] sandstrom commented on #115
Since this code is open-source, without anyone getting paid to work on it, it's difficult to satisfy all the wishes that people may have. I hope you understand! 🌻

Yeah, I think it would be a good idea to rewrite this library to use pointer events, see https://github.com/manuelstofer/pinchzoom/issues/114

If you can nail down the bug/issue I'm happy to review a patch. Other than that there isn't m

[2020-10-27 17:06] sandstrom commented on #111
Did the solution proposed on StackOverflow solve your issue?

https://stackoverflow.com/questions/62072906/pinchzoom-js-not-working-on-ios-devices-after-13-4-update-by-apple

Do you think that fix is applicable only to your circumstances, or is that something we should change in this project?

Also, do you know if that proposed solution causes any issues on Android?

[2020-10-27 18:05] rahsharm77 commented on #111
The fix in that answer resolved the zoom issue but caused other problems in scrolling and clicking on links on the website so I had to revert back unfortunately and not use that solution.

The fix is not applicable to my circumstance but I am not exactly sure how will it affect other scenarios. In my case, I was having problems in the over scrolling of the image and I was not able to click on icon

[2020-10-27 18:16] rahsharm77 commented on #111
Please check these two links on your mobile/tablet devices and see the behaviour:

1) Without the fix: **https://eetts.avahan.co.in/Home/Index**
2) With the fix: **https://epapertest.eenadu.net/Home/Index?date=27/10/2020&eid=3&pid=1178597**

You will experience problems in scrolling in the second link.
Hope this helps.

[2020-10-28 08:39] ma7moudat commented on #115
It seems to be a WebView issue.

I tried the simplest [pinch gesture example](https://mdn.github.io/dom-examples/pointerevents/Pinch_zoom_gestures.html) from MDN. Same problem; it works fine everywhere except in Android's WebView. So I don't think it can be solved on the JavaScript side.

I'm no app developer, so I'm not sure whether the touch sensitivity of a WebView can be adjusted.

Closing bec

[2020-10-28 08:39] #115 closed

[2020-10-28 09:29] sandstrom commented on #115
@ma7moudat thanks for the update!

[2020-10-28 09:38] sandstrom commented on #111
thanks for the update @rahsharm77

[2020-11-30 18:09] bdion-pixel commented on #64
Super late here, but the problem is that the 'parent' block, '.pinch-zoom-container', is set to have an absolute position before we get the parent's height.  That means if the parent doesn't have an explicit height, with no other content, and isn't being scaled by something like flex, then the parent's container's height will ALWAYS be zero.  Hopefully that's a bug.  Would be kind of strange for t

[2020-12-01 08:08] JiangWeian opened #118 "How to install pinchzoom?"
When I execute npm install, an error will be reported:

'script 'is not an internal or external command or a runnable program
Or batch file.

Do I need to install something to execute build.sh?

[2021-02-15 15:08] amit777 opened #119 "Is trackpad pinch easy to add?"
Hi, I was wondering if it would be easy to add trackpad pinch support.  I believe it is just wheel event with Ctrl key modified. It seems like 2-finger touch is more complicated so it seems you have solved the harder problem!

[2021-02-15 15:30] sandstrom commented on #119
I think we have trackpad double-tap to zoom support.

Don't know if pinch is easy to add. I didn't write the library initially, just helping out maintaining.

I think at this point the easiest may be a fairly big rewrite (v2) built around pointer events (https://github.com/manuelstofer/pinchzoom/issues/114) would be a good idea.

[2021-04-09 18:42] thiago-molive opened #121 "not woking inside iframe's"
not woking inside iframe's

[2021-04-12 07:56] sandstrom commented on #121
Thanks for thinking about how this project can be improved! Since this code is open-source, without anyone getting paid to work on it, it's difficult to satisfy all the wishes that people may have. I hope you understand! 🌻

So if you want something, a good first step is to explain in detail what you think should be changed. If others agree that it's a good idea, the next step would be for you to o

[2021-04-12 07:56] #121 closed

[2021-04-12 07:57] sandstrom commented on #118
Is this an issue with the code itself, or a general question? For general questions [Stackoverflow](https://stackoverflow.com/) is better than Github.

I'm closing this now, but I'm willing to reopen if there is an actual code issue. If so, steps to reproduce (and ideally a failing test-case) is a good start.

[2021-04-12 07:57] #118 closed

[2021-05-19 01:53] pk8848597 opened #122 "one problem of zoom"
Pinchzoom can enlarge infinitely, but it can only scale elements to 100%, and can't continue to zoom

[2021-05-19 01:57] pk8848597 commented on #122
I tried it on the demo provided by pinchzoom, and the frog image has the same effect. When the image reaches 100%, I can't zoom any more

[2021-05-19 01:59] pk8848597 commented on #122
Is that the original programming? Or I lack a configuration

[2021-05-19 08:15] sandstrom commented on #122
You need to describe the problem in more detail.

Also, this is an open-source project with few (no?) maintainers, so there is no one getting paid to help with troubleshooting, unfortunately.

[2021-09-09 05:41] songminzy opened #123 "The image moves vertically or horizontally depending on the margin of the screen."
When moving up and down while pressing the image, is it possible for the image to be fixed without following it?

I want is a zoom-out function.

[2021-12-28 23:24] dbzx10299 opened #124 "ios 15 address bars"
On the new version of ios 15, when scrolling within an element, such as a size guide, a modal ect., this causes the top and bottom ui bars to appear even if the page is not scrolling.

I did find a temporary fix by setting the body width to 100% and by setting the body to fixed when the modal opens for the zoom.

Dolcegabbana.com is using this plugin, on any product page jumping due to ui bars on

[2022-01-01 08:09] qwazwsx commented on #33
seems like this issue has re-emerged

[2022-03-15 03:25] william-sv opened #125 "element not visible ,maybe add setContainerX to updateAspectRatio"
element not visible ,maybe add setContainerX to updateAspectRatio can fix this

like this:

`
updateAspectRatio: function () {
    this.unsetContainerX();
    this.unsetContainerY();
    this.setContainerY(this.container.parentElement.offsetHeight);
    this.setContainerX(this.container.parentElement.offsetWidth);
},
`

[2022-03-15 10:25] sandstrom commented on #125
Thanks for thinking about how this project can be improved! Since this code is open-source, without anyone getting paid to work on it, it's difficult to satisfy all the wishes that people may have. I hope you understand! 🌻

So if you want something, a good first step is to explain in detail what you think should be changed. If others agree that it's a good idea, the next step would be for you to o

[2022-03-15 10:25] #125 closed

[2022-05-11 08:57] manuelstofer opened #126 "Looking for maintainer"
Does someone want to maintain this package?

[2022-05-11 12:22] sandstrom commented on #126
I'll still try to help if there are small things cropping up, that I can reasonably handle.

We're still using it in production and it works great! 🏅

I think long-term, it may make sense to rewrite this library to use Pointer Events (https://github.com/manuelstofer/pinchzoom/issues/114). However, I don't know that spec very well and also haven't surveyed the open-source landscape recently, so don

[2022-05-11 13:07] manuelstofer commented on #126
@sandstrom Thanks, your help is much appreciated. I am happy to hand you over the repo if you would like to maintain it.

[2022-05-11 16:21] sandstrom commented on #126
I already have most of the admin access I need. I'm happy to stay as a maintainer (write access etc), but just like you I wouldn't be a very active owner.

Better then to wait and see if someone else is interested.

Also, because of NPM supply chain attack risks, it's probably wise to not hand over NPM access to someone that hasn't first built some trust by making other contributions to the source

[2022-07-22 13:07] oleksandr-danylchenko opened #128 "Missing removal of the `resize` event listener on the window"
I made a modal component that uses the `PinchZoom` to enlarge images. The problems start to emerge when a user opens more than one modal during the same page session. The `resize` events handlers start to stack on each other causing the image to be positioned wrongly -

https://user-images.githubusercontent.com/68850090/180445251-7dd6962c-8ecc-4533-b303-420219356dae.mp4

**It would be awesome if t

[2022-07-28 12:06] #128 closed

[2022-07-28 12:08] sandstrom commented on #105
Fixed in #129

[2022-07-28 12:08] #105 closed

[2022-08-16 11:03] Funnybanny opened #130 "Double Tap and zoom event"
According to the very limited documentation "onZoomStart", "onZoomEnd", "onZoomUpdate" callbacks should run on zoom. On double tapping the picture only "onZoomUpdate" is called. BreakPoints on "onZoomEnd" and "onZoomStart" never get hit.

[code]

[2022-08-16 11:07] Funnybanny opened #131 "After zoom and on initial loading img displacement"
On initial loading and on zoom the image is positioned with `transform: translate(x px, y px)` to the middle of the page. How do I turn this off? I dont want to touch the library code, so I am hoping there is some kind of hidden solution.

[2022-08-16 11:26] sandstrom commented on #130
Thanks for thinking about how this project can be improved! Since this code is open-source, without anyone getting paid to work on it, it's difficult to satisfy all the wishes that people may have. I hope you understand! 🌻

So if you want something, a good first step is to explain in detail what you think should be changed. If others agree that it's a good idea, the next step would be for you to o

[2022-08-16 11:26] #130 closed

[2022-08-16 11:27] sandstrom commented on #131
I don't know if there is a way to turn it off, unfortunately.

Since this code is open-source, without anyone getting paid to work on it, it's difficult to satisfy all the wishes that people may have. I hope you understand! 🌻

So if you want something, a good first step is to explain in detail what you think should be changed. If others agree that it's a good idea, the next step would be for you t

[2022-08-16 11:27] #131 closed

[2022-08-16 11:28] sandstrom commented on #111
I'm doing some issue gardening 🌱🌿 🌷 and came upon this issue. Since it's quite old I just wanted to ask if this is still relevant? I'll close now, but happy to reopen if this is still a problem.

By closing some old issues we reduce the list of open issues to a more manageable set.

[2022-08-16 11:28] #111 closed

[2022-08-16 11:29] sandstrom commented on #131
Also, is this issue relevant? https://github.com/manuelstofer/pinchzoom/issues/93

[2022-08-16 15:48] GaryG54 commented on #111
I found the code didn't work except in some simple cases.  I abandoned it.

On Tue, Aug 16, 2022, 7:28 AM sandstrom ***@***.***> wrote:

[2022-08-26 19:06] pySilver opened #132 "Uncaught TypeError: Cannot read properties of null (reading 'offsetWidth')"
Hi! Not sure what I'm doing wrong here

[code]

gives:

[code]

[2022-08-27 12:55] sandstrom commented on #132
Hello Silver! Since this code is open-source, without anyone getting paid to work on it, it's difficult to satisfy help out with issues like this. I hope you understand! 🌻

But if you want to dig in and investigate what's causing this, maybe you can help out and improve the project?